@charset "UTF-8";
/* Buttons */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.hidden {
  display: none !important;
}

.small-font {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: bolder;
  color: rgb(255, 247, 133);
}

.normal-font {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(255, 247, 133);
}

.large-font {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(255, 247, 133);
}

.textbox-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  gap: 10px;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  min-height: fit-content;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.textbox-outer .textbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 8px;
  cursor: text;
  text-align: center;
  height: 25px;
}
.textbox-outer .textbox-inner:empty::before {
  content: var(--hint, "input");
  display: inline-block;
  color: darkgray;
}
.textbox-outer .textbox-hint {
  color: darkgray;
}
.textbox-outer .textbox-inner {
  color: black;
}
.textbox-outer.disabled {
  pointer-events: none;
  user-select: none;
  color: grey !important;
  background-color: darkgrey;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.button.disabled {
  pointer-events: none;
  user-select: none;
  color: grey !important;
  background-color: darkgrey;
}
.button.red {
  color: red;
}
.button.black {
  color: black;
}
.button.selected {
  background-color: rgb(255, 247, 133);
}
.button:hover {
  background-color: #145017;
}
.button:hover.selected {
  background-color: rgb(114, 107, 24);
}
.button:active {
  background-color: #2E7D32;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
.button.normal-size {
  width: 100%;
  height: 50px;
}
.button.small-size {
  height: 25px;
  width: 75%;
  align-self: center;
}

.card[face="5♥"] {
  background-image: url("../images/cards/large/5♥.png");
}

.card[face="5♦"] {
  background-image: url("../images/cards/large/5♦.png");
}

.card[face="5♣"] {
  background-image: url("../images/cards/large/5♣.png");
}

.card[face="5♠"] {
  background-image: url("../images/cards/large/5♠.png");
}

.card[face="9♥"] {
  background-image: url("../images/cards/large/9♥.png");
}

.card[face="9♦"] {
  background-image: url("../images/cards/large/9♦.png");
}

.card[face="9♣"] {
  background-image: url("../images/cards/large/9♣.png");
}

.card[face="9♠"] {
  background-image: url("../images/cards/large/9♠.png");
}

.card[face="10♥"] {
  background-image: url("../images/cards/large/10♥.png");
}

.card[face="10♦"] {
  background-image: url("../images/cards/large/10♦.png");
}

.card[face="10♣"] {
  background-image: url("../images/cards/large/10♣.png");
}

.card[face="10♠"] {
  background-image: url("../images/cards/large/10♠.png");
}

.card[face=J♥] {
  background-image: url("../images/cards/large/J♥.png");
}

.card[face=J♦] {
  background-image: url("../images/cards/large/J♦.png");
}

.card[face=J♣] {
  background-image: url("../images/cards/large/J♣.png");
}

.card[face=J♠] {
  background-image: url("../images/cards/large/J♠.png");
}

.card[face=Q♥] {
  background-image: url("../images/cards/large/Q♥.png");
}

.card[face=Q♦] {
  background-image: url("../images/cards/large/Q♦.png");
}

.card[face=Q♣] {
  background-image: url("../images/cards/large/Q♣.png");
}

.card[face=Q♠] {
  background-image: url("../images/cards/large/Q♠.png");
}

.card[face=K♥] {
  background-image: url("../images/cards/large/K♥.png");
}

.card[face=K♦] {
  background-image: url("../images/cards/large/K♦.png");
}

.card[face=K♣] {
  background-image: url("../images/cards/large/K♣.png");
}

.card[face=K♠] {
  background-image: url("../images/cards/large/K♠.png");
}

.card[face=A♥] {
  background-image: url("../images/cards/large/A♥.png");
}

.card[face=A♦] {
  background-image: url("../images/cards/large/A♦.png");
}

.card[face=A♣] {
  background-image: url("../images/cards/large/A♣.png");
}

.card[face=A♠] {
  background-image: url("../images/cards/large/A♠.png");
}

.card[face=back] {
  background-image: url("../images/cards/large/back.png");
}

.card {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 15%;
  aspect-ratio: 2.5/3.5;
  --offset_width: 5.35%;
}

:root {
  --box-size: 80;
}

.hidden {
  display: none !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #87CEEB;
}

.game-board {
  position: relative;
  background-color: #008000;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  min-width: 300px;
  /* Default for landscape */
  height: calc(var(--box-size) * 1vh);
  width: calc(var(--box-size) * 1vh);
}
@media (orientation: portrait) {
  .game-board {
    width: calc(var(--box-size) * 1vw);
    height: calc(var(--box-size) * 1vw);
  }
}

.player-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  background-color: #008000;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
}
.player-icon[seat="0"] {
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 75%);
}
.player-icon[seat="1"] {
  top: 50%;
  left: 0%;
  transform: translate(-62.5%, -50%) rotate(-90deg);
}
.player-icon[seat="2"] {
  left: 50%;
  top: 0%;
  transform: translate(-50%, -75%);
}
.player-icon[seat="3"] {
  top: 50%;
  right: 0%;
  transform: translate(62.5%, -50%) rotate(90deg);
}

.chat-bubble {
  position: absolute;
  width: 30%;
  height: 20%;
  z-index: 10;
}
.chat-bubble[seat="0"] {
  bottom: 17%;
  left: 45%;
}
.chat-bubble[seat="1"] {
  top: 30%;
  left: 13%;
}
.chat-bubble[seat="2"] {
  top: -5%;
  left: 45%;
}
.chat-bubble[seat="3"] {
  top: 30%;
  right: -3%;
}
.chat-bubble img {
  height: 100%;
  width: 100%;
}
.chat-bubble div {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 25%;
  text-align: center;
  font-size: 4vh;
}

#upcard {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.played {
  position: absolute;
}

.played[seat="0"] {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 125%);
}

.played[seat="1"] {
  left: 50%;
  bottom: 50%;
  transform: translate(-150%, 50%) rotate(90deg);
}

.played[seat="2"] {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -25%);
}

.played[seat="3"] {
  left: 50%;
  bottom: 50%;
  transform: translate(50%, 50%) rotate(90deg);
}

.hand[seat="0"] {
  --card_index: 0;
  bottom: 10%;
  left: calc(var(--hand_0_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);
}
.hand[seat="0"].enabled:hover {
  transform: translate(-5%, -26%);
  cursor: pointer;
}

.hand[seat="1"] {
  left: 10%;
  top: calc(var(--hand_1_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);
  transform: rotate(90deg);
}

.hand[seat="2"] {
  top: 10%;
  left: calc(var(--hand_2_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);
}

.hand[seat="3"] {
  right: 10%;
  top: calc(var(--hand_3_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);
  transform: rotate(90deg);
}

.tricks[seat="0"] {
  bottom: 10%;
  left: 70%;
}

.tricks[seat="1"] {
  bottom: 18%;
  left: 13%;
  rotate: 90deg;
}

.tricks[seat="2"] {
  top: 10%;
  left: 25%;
  rotate: 180deg;
}

.tricks[seat="3"] {
  top: 21%;
  right: 13%;
  rotate: -90deg;
}

.tricks {
  position: absolute;
  height: 15%;
  width: 5%;
  z-index: 100;
}
.tricks[value="1"] .trick[index="0"] {
  display: block;
}
.tricks[value="2"] .trick[index="0"] {
  display: block;
}
.tricks[value="2"] .trick[index="1"] {
  display: block;
}
.tricks[value="3"] .trick[index="0"] {
  display: block;
}
.tricks[value="3"] .trick[index="1"] {
  display: block;
}
.tricks[value="3"] .trick[index="2"] {
  display: block;
}
.tricks[value="4"] .trick[index="0"] {
  display: block;
}
.tricks[value="4"] .trick[index="1"] {
  display: block;
}
.tricks[value="4"] .trick[index="2"] {
  display: block;
}
.tricks[value="4"] .trick[index="3"] {
  display: block;
}
.tricks[value="5"] .trick[index="0"] {
  display: block;
}
.tricks[value="5"] .trick[index="1"] {
  display: block;
}
.tricks[value="5"] .trick[index="2"] {
  display: block;
}
.tricks[value="5"] .trick[index="3"] {
  display: block;
}
.tricks[value="5"] .trick[index="4"] {
  display: block;
}
.tricks .trick {
  position: absolute;
  height: 34%;
  top: 0;
  left: 0;
  display: none;
}
.tricks .trick:nth-child(2) {
  transform: translateY(50%) rotate(90deg);
}
.tricks .trick:nth-child(3) {
  transform: translateY(100%);
}
.tricks .trick:nth-child(4) {
  transform: translateY(150%) rotate(90deg);
}
.tricks .trick:nth-child(5) {
  transform: translateY(200%);
}

.score {
  position: absolute;
  height: 15%;
  aspect-ratio: 2.5/3.5;
}
.score .card {
  height: 100%;
}
.score#score_0 {
  left: 5%;
  top: 5%;
}
.score#score_1 {
  right: 10%;
  bottom: 10%;
}
.score > .top {
  z-index: 3;
}
.score > .bottom {
  z-index: 2;
}
.score[score="1"] > .top, .score[score="6"] > .top {
  transform: translate(22%, 17%) rotate(35deg);
}
.score[score="2"] > .top, .score[score="7"] > .top {
  transform: translate(0, 25%) rotate(90deg);
}
.score[score="3"] > .top, .score[score="8"] > .top {
  transform: translate(0, 50%) rotate(90deg);
}
.score[score="4"] > .top, .score[score="9"] > .top {
  transform: translate(43%, 45%) rotate(27deg);
}

#message {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 5%;
  background-color: #4CAF50;
  border-radius: 8px;
  pointer-events: none;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
}

.token {
  position: absolute;
  width: 4%;
  height: 4%;
  background-size: cover;
  background-position: center;
}
.token[suit=♥] {
  background-image: url("../images/maker_♥.png");
}
.token[suit=♦] {
  background-image: url("../images/maker_♦.png");
}
.token[suit=♣] {
  background-image: url("../images/maker_♣.png");
}
.token[suit=♠] {
  background-image: url("../images/maker_♠.png");
}
.token[seat="0"] {
  left: 50%;
  transform: translateX(-50%);
}
.token[seat="0"]#dealer_token {
  left: 45%;
  bottom: -10%;
}
.token[seat="0"]#maker_token {
  left: 55%;
  bottom: -10%;
}
.token[seat="1"] {
  top: 50%;
  transform: translateY(-50%);
}
.token[seat="1"]#dealer_token {
  top: 45%;
  left: -10%;
}
.token[seat="1"]#maker_token {
  top: 55%;
  left: -10%;
}
.token[seat="2"] {
  transform: translateX(-50%);
}
.token[seat="2"]#dealer_token {
  left: 45%;
  top: -10%;
}
.token[seat="2"]#maker_token {
  left: 55%;
  top: -10%;
}
.token[seat="3"] {
  top: 50%;
  transform: translateY(-50%);
}
.token[seat="3"]#dealer_token {
  top: 45%;
  right: -10%;
}
.token[seat="3"]#maker_token {
  top: 55%;
  right: -10%;
}

.suit-button-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 4%;
  width: 20%;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
}
.suit-button-container > .suit_button {
  width: 23%;
}

.action-button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 6%;
  width: 55%;
  bottom: 3.5%;
  left: 50%;
  transform: translateX(-50%);
}
.action-button-container .action_button {
  width: 30%;
  height: 100%;
  margin: 0 1% 0 1%;
}

.control-button-container {
  position: absolute;
  display: flex;
  bottom: -40px;
  right: 0;
}
.control-button-container * {
  margin: 5px;
}
.control-button-container .snap_index {
  display: flex;
  width: 50px;
  background-color: #4CAF50;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=game.css.map */
