/* Buttons */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.default_font {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  color: rgb(255, 247, 133);
}

.styled_button {
  background-color: #4CAF50;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.styled_button.disabled {
  pointer-events: none;
  user-select: none;
  color: grey !important;
  background-color: darkgrey;
}
.styled_button.red {
  color: red;
}
.styled_button.black {
  color: black;
}
.styled_button.selected {
  background-color: rgb(255, 247, 133);
}
.styled_button:hover {
  background-color: #145017;
}
.styled_button:hover.selected {
  background-color: rgb(114, 107, 24);
}
.styled_button:active {
  background-color: #2E7D32;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

:root {
  --box-size: 80;
}

.hidden {
  display: none !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #87CEEB;
}

.card {
  height: 100%;
  width: auto;
}

.game-board {
  position: relative;
  background-color: #008000;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  min-width: 300px;
  /* Default for landscape */
  height: calc(var(--box-size) * 1vh);
  width: calc(var(--box-size) * 1vh);
}
@media (orientation: portrait) {
  .game-board {
    width: calc(var(--box-size) * 1vw);
    height: calc(var(--box-size) * 1vw);
  }
}

.player_icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  background-color: #008000;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
}
.player_icon[seat="0"] {
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 75%);
}
.player_icon[seat="1"] {
  top: 50%;
  left: 0%;
  transform: translate(-62.5%, -50%) rotate(-90deg);
}
.player_icon[seat="2"] {
  left: 50%;
  top: 0%;
  transform: translate(-50%, -75%);
}
.player_icon[seat="3"] {
  top: 50%;
  right: 0%;
  transform: translate(62.5%, -50%) rotate(90deg);
}

.chat_bubble {
  position: absolute;
  width: 30%;
  height: 20%;
  z-index: 10;
}
.chat_bubble[seat="0"] {
  bottom: 17%;
  left: 45%;
}
.chat_bubble[seat="1"] {
  top: 30%;
  left: 13%;
}
.chat_bubble[seat="2"] {
  top: -5%;
  left: 45%;
}
.chat_bubble[seat="3"] {
  top: 30%;
  right: -3%;
}
.chat_bubble img {
  height: 100%;
  width: 100%;
}
.chat_bubble div {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 25%;
  text-align: center;
  font-size: 2em;
}

.played,
#upcard {
  position: absolute;
  height: 15%;
  aspect-ratio: 2.5/3.5;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.played *,
#upcard * {
  position: absolute;
}
.played > .card:nth-child(1),
#upcard > .card:nth-child(1) {
  transform: translateY(60%);
}
.played > .card:nth-child(2),
#upcard > .card:nth-child(2) {
  transform: translateX(-80%) rotate(90deg);
}
.played > .card:nth-child(3),
#upcard > .card:nth-child(3) {
  transform: translateY(-60%);
}
.played > .card:nth-child(4),
#upcard > .card:nth-child(4) {
  transform: translateX(80%) rotate(90deg);
}

.hand {
  position: absolute;
  height: 15%;
  width: 30%;
}
.hand .cards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.hand .cards .card {
  transform: translateX(30%);
  margin-left: -20%;
}
.hand .cards.enabled .card:hover {
  transform: translate(26%, -10%);
  cursor: pointer;
}
.hand .cards:not(.enabled) .card:hover {
  pointer-events: none;
}
.hand .tricks {
  position: absolute;
  width: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  right: -7.5%;
}
.hand .tricks .trick {
  position: absolute;
  height: 34%;
  top: 0;
  left: 0;
}
.hand .tricks .trick:nth-child(2) {
  transform: translateY(50%) rotate(90deg);
}
.hand .tricks .trick:nth-child(3) {
  transform: translateY(100%);
}
.hand .tricks .trick:nth-child(4) {
  transform: translateY(150%) rotate(90deg);
}
.hand .tricks .trick:nth-child(5) {
  transform: translateY(200%);
}

#hand_0 {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#hand_1 {
  top: 50%;
  left: 5%;
  transform: translateY(-50%) rotate(90deg);
}

#hand_2 {
  top: 5%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

#hand_3 {
  top: 50%;
  right: 5%;
  transform: translateY(-50%) rotate(-90deg);
}

.score {
  position: absolute;
  height: 15%;
  aspect-ratio: 2.5/3.5;
}
.score * {
  position: absolute;
}
.score#score_0 {
  left: 5%;
  top: 5%;
}
.score#score_1 {
  right: 10%;
  bottom: 10%;
}
.score > .top {
  z-index: 3;
}
.score > .bottom {
  z-index: 2;
}
.score > .back {
  z-index: 4;
}
.score[data-value="1"] > .back {
  transform: translate(22%, 17%) rotate(35deg);
}
.score[data-value="2"] > .back {
  transform: translate(0, 25%) rotate(90deg);
}
.score[data-value="3"] > .back {
  transform: translate(0, 50%) rotate(90deg);
}
.score[data-value="4"] > .back {
  transform: translate(43%, 45%) rotate(27deg);
}
.score[data-value="5"] > .back {
  z-index: 1;
}
.score[data-value="6"] > .back {
  z-index: 1;
}
.score[data-value="6"] > .top {
  transform: translate(22%, 17%) rotate(35deg);
}
.score[data-value="7"] > .back {
  z-index: 1;
}
.score[data-value="7"] > .top {
  transform: translate(0, 25%) rotate(90deg);
}
.score[data-value="8"] > .back {
  z-index: 1;
}
.score[data-value="8"] > .top {
  transform: translate(0, 50%) rotate(90deg);
}
.score[data-value="9"] > .back {
  z-index: 1;
}
.score[data-value="9"] > .top {
  transform: translate(42%, 45%) rotate(32deg);
}

#message {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 5%;
  background-color: #4CAF50;
  border-radius: 8px;
  pointer-events: none;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
}

.token {
  position: absolute;
  width: 4%;
  height: 4%;
}
.token[seat="0"] {
  left: 50%;
  transform: translateX(-50%);
}
.token[seat="0"]#dealer_token {
  left: 45%;
  bottom: -10%;
}
.token[seat="0"]#maker_token {
  left: 55%;
  bottom: -10%;
}
.token[seat="1"] {
  top: 50%;
  transform: translateY(-50%);
}
.token[seat="1"]#dealer_token {
  top: 45%;
  left: -10%;
}
.token[seat="1"]#maker_token {
  top: 55%;
  left: -10%;
}
.token[seat="2"] {
  transform: translateX(-50%);
}
.token[seat="2"]#dealer_token {
  left: 45%;
  top: -10%;
}
.token[seat="2"]#maker_token {
  left: 55%;
  top: -10%;
}
.token[seat="3"] {
  top: 50%;
  transform: translateY(-50%);
}
.token[seat="3"]#dealer_token {
  top: 45%;
  right: -10%;
}
.token[seat="3"]#maker_token {
  top: 55%;
  right: -10%;
}

#suit_container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 4%;
  width: 20%;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
}
#suit_container > .suit_button {
  width: 23%;
}

#action_container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 6%;
  width: 55%;
  bottom: 3.5%;
  left: 50%;
  transform: translateX(-50%);
}
#action_container .action_button {
  width: 30%;
  height: 100%;
  margin: 0 1% 0 1%;
}

/*# sourceMappingURL=game.css.map */
