/* components.scss */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    --app-yellow: rgb(255, 247, 133);
    --app-dark-yellow: rgb(255, 245, 0);
    --app-component-green: rgba(76, 175, 80);
}

.hidden, .is-hidden {
    display: none !important;   
}

.invisible{
    visibility: hidden !important;
}

.font-small{
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: bolder;
    color: var(--app-yellow);
}

.font-normal{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--app-yellow);    
}

.font-large{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 247, 133);    
}

.ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--app-component-green);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    min-height: fit-content;
    box-sizing: border-box;
    overflow: hidden;

    &.horz {
        flex-direction: row;
    }
}

.ui-textbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 8px;
    cursor: text;
    text-align: center;
    height: 25px;
}

.ui-textbox:empty::before {
    content: var(--hint, "input"); 
    display: inline-block;
    color: darkgray;
}

.textbox-hint{
    color: darkgray;
}

.ui-textbox{
    color: black;
}

.disabled {
    pointer-events: none;
    user-select: none;
    color: grey !important;
    background-color: darkgrey;
}

.label-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: whitesmoke;
    border: 2px solid black;
    color: black;
    border-radius: 8px;
    text-align: center;
    height: 25px;
}

.ui-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--app-component-green);
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    will-change: transform;

    &.disabled {
        pointer-events: none;
        user-select: none;
        color: grey !important;
        background-color: darkgrey;
    }

    &.red {
        color: red;
    }

    &.black {
        color: black
    }

    &.selected {
        background-color: rgb(255, 247, 133);
    }

    &:hover {
        background-color: #145017;

        &.selected {
            background-color: rgb(114, 107, 24);
        }
    }

    &:active:not(.no-active) {
        background-color: #2E7D32;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
    }    
} 

.ui-button, .ui-textbox{
    &.size_full{
        width: 100%;
        height: calc(var(--box-height) * 0.075);
    }
    
    &.size_narrow{
        width: 50%;
        height: calc(var(--box-height) * 0.075);
    }

    &.size_small{
        height: calc(var(--box-height) * 0.05);
        width: 75%;
        align-self: center;
    }  

    &.size_round{
        border-radius: 25px;
        text-align: center;
        height: 25px;  
        width: 25px;
        align-self: center;
    }     
}

.info-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(180, 235, 180);
    color: red;
    border: 2px solid red;  
    right: 0;
    margin: 4%;

    &:hover{
        background-color: whitesmoke;
    }

    &::before{
        content: "?";
    }
}

.info-text:not(.show){
    opacity: 0;
    pointer-events: none;
}

.info-text{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 10px;    
    background-color: var(--app-component-green);
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    width: 50%;
    min-height: 100px;
    z-index: 1000;
    cursor: pointer;
    user-select: none;
}

.text-area{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    
    color: var(--app-dark-yellow);
    background-color: var(--app-component-green);
    border: 2px solid;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
}

.mask{
    position: fixed;
    background-color: #008000;
    opacity: 60%;
    z-index: 999;  
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #008000;
    border: 2px solid;
    border-color: var(--app-yellow);
    border-radius: 15px;
    width: 100%;    
    height: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.component-collection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px       
}

alert-dialog, name-dialog{
    position: absolute;
    width: 50%;
    aspect-ratio: 5/3;
    z-index: 1000;
}