// game.scss
@use './components';
@use './cards';

:root {
    --box-size: 80;
}

.is-hidden {
    display: none !important;
}

.fade-out {
    opacity: 0;
    transition: opacity 1.0s ease-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB;
}

.game-board {
    position: relative;
    background-color: #008000;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 300px;
    min-width: 300px;

    /* Default for landscape */
    height: calc(var(--box-size) * 1vh);
    width: calc(var(--box-size) * 1vh);

    @media (orientation: portrait) {
        width: calc(var(--box-size) * 1vw);
        height: calc(var(--box-size) * 1vw);
    }
}

.player-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    background-color: #008000;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);   
    white-space: nowrap;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(255, 247, 133);   

    &[seat="0"]{
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 75%);        
    }
    &[seat="1"]{
        top: 50%;
        left: 0%;
        transform: translate(-62.5%, -50%) rotate(-90deg);
    }
    &[seat="2"]{
        left: 50%;
        top: 0%;
        transform: translate(-50%, -75%);
    }
    &[seat="3"]{
        top: 50%;
        right: 0%;
        transform: translate(62.5%, -50%)  rotate(90deg);
    }
}

.chat-bubble {
    position: absolute;
    width: 30%;
    height: 20%;
    z-index: 10;

    &[seat="0"] {
        bottom: 17%;
        left: 45%;
    }

    &[seat="1"] {
        top: 30%;
        left: 13%;
    }

    &[seat="2"] {
        top: -5%;
        left: 45%;
    }

    &[seat="3"] {
        top: 30%;
        right: -3%;
    }

    img {
        height: 100%;
        width: 100%;
    }

    div {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 25%;
        text-align: center;
        font-size: 4vh;
    }
}

// played cards
#upcard{
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.played {
    position: absolute;
}
 
.played[seat='0']{
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 125%);
}

.played[seat='1']{
    left: 50%;
    bottom: 50%;
    transform: translate(-150%, 50%) rotate(90deg);
}

.played[seat='2']{
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -25%);
}

.played[seat='3']{
    left: 50%;
    bottom: 50%;
    transform: translate(50%, 50%) rotate(90deg);
}


// hand cards
.hand[seat="0"] {
    --card_index: 0;
    bottom: 10%;  
    left: calc(var(--hand_0_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);           

    &.enabled:hover{
        transform: translate(-5%, -26%);
        cursor: pointer;
    }
}

.hand[seat="1"] {
    left: 10%;         
    top: calc(var(--hand_1_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);           
    transform: rotate(90deg);
}

.hand[seat="2"] {
    top: 10%;         
    left: calc(var(--hand_2_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);           
}

.hand[seat="3"] {
    right: 10%;         
    top: calc(var(--hand_3_offset, 0%) * var(--offset_width) + 50% + var(--card_index) * 5%);           
    transform: rotate(90deg);
}

.tricks[seat='0']{
    bottom: 10%;
    left: 70%; 
}

.tricks[seat='1']{
    bottom: 18%;
    left: 13%; 
    rotate: (90deg);
}

.tricks[seat='2']{
    top: 10%;
    left: 25%; 
    rotate: (180deg);    
}

.tricks[seat='3']{
    top: 21%;
    right: 13%; 
    rotate: (-90deg);
}

.tricks {
    position: absolute;
    height: 15%;
    width: 5%;
    z-index: 100;

    &[value='1']{
        .trick[index='0']{ display: block;}
    }

    &[value='2']{
        .trick[index='0']{ display: block;}
        .trick[index='1']{ display: block;}
    }
    
    &[value='3']{
        .trick[index='0']{ display: block;}
        .trick[index='1']{ display: block;}
        .trick[index='2']{ display: block;}                
    }
    
    &[value='4']{
        .trick[index='0']{ display: block;}
        .trick[index='1']{ display: block;}
        .trick[index='2']{ display: block;} 
        .trick[index='3']{ display: block;} 
    }
    
    &[value='5']{
        .trick[index='0']{ display: block;}
        .trick[index='1']{ display: block;}
        .trick[index='2']{ display: block;} 
        .trick[index='3']{ display: block;} 
        .trick[index='4']{ display: block;}         
    }    

    .trick {
        position: absolute;
        height: 34%;
        top: 0;
        left: 0;
        display: none;

        &:nth-child(2) {
            transform: translateY(50%) rotate(90deg);
        }

        &:nth-child(3) {
            transform: translateY(100%);
        }

        &:nth-child(4) {
            transform: translateY(150%) rotate(90deg);
        }

        &:nth-child(5) {
            transform: translateY(200%);
        }
    }
}

.score {
    position: absolute;
    height: 15%;
    aspect-ratio: 2.5 / 3.5;    

    .card {
        height:  100%;
    }

    &#score_0 {
        right: 10%;
        bottom: 10%;
    }

    &#score_1 {
        left: 5%;
        top: 5%;
    }

    &>.top {
        z-index: 3;
    }

    &>.bottom {
        z-index: 2;
    }

    &[score='1'], &[score='6']{
        &>.top {
            transform: translate(22%, 17%) rotate(35deg);
        }
    }

    &[score='2'], &[score='7']{
        &>.top {
            transform: translate(0, 25%) rotate(90deg);
        }
    }

    &[score='3'], &[score='8']{
        &>.top {
            transform: translate(0, 50%) rotate(90deg);
        }
    }

    &[score='4'], &[score='9']{
        &>.top {
            transform: translate(43%, 45%) rotate(27deg);
        }
    }
}

#message{
    position: absolute;
    display: flex;
    align-items: center;    
    justify-content: center;    
    width: 30%;
    height: 5%;   
    background-color: #4CAF50;
    border-radius: 8px;
    pointer-events: none;

    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
}

#alert{
    position: absolute;
    align-items: center;    
    justify-content: center;    
    width: 75%;
    height: 25%;   
    background-color: #4CAF50;
    border-radius: 8px;
    z-index: 1000;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    #alert-message{
        position: absolute;
        top: 15%;        
        left: 0;  
        width: 100%; 
        text-align: center;          
    }

    #alert-button{
        position: absolute;
        bottom: 25%;        
        left: 50%;  
        width: 25%; 
        transform: translate(-50%, 50%);             
    }
}

.token{
    position: absolute;
    width: 4%;
    height: 4%;
    background-size: cover;
    background-position: center;    

    &[suit="♥"]{
        background-image: url('../images/maker_♥.png');
    }
    &[suit="♦"]{
        background-image: url('../images/maker_♦.png');
    }
    &[suit="♣"]{
        background-image: url('../images/maker_♣.png');
    }
    &[suit="♠"]{
        background-image: url('../images/maker_♠.png');
    }            

    &[seat="0"]{
        left: 50%;
        transform: translateX(-50%);
        &#dealer_token{
            left: 45%;
            bottom: -10%;
        }
        &#maker_token{
            left: 55%;
            bottom: -10%;            
        }
    }
    &[seat="1"]{
        top: 50%;
        transform: translateY(-50%);
        &#dealer_token{
            top: 45%;
            left: -10%;
        }
        &#maker_token{
            top: 55%;
            left: -10%;            
        }        
    }
    &[seat="2"]{
        transform: translateX(-50%);
        &#dealer_token{
            left: 45%;
            top: -10%;
        }
        &#maker_token{
            left: 55%;
            top: -10%;            
        }
    }
    &[seat="3"]{
        top: 50%;
        transform: translateY(-50%);
        &#dealer_token{
            top: 45%;
            right: -10%;
        }
        &#maker_token{
            top: 55%;
            right: -10%;            
        }    
    }    
}

.suit-button-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 4%;
    width: 20%;
    bottom: 27%;
    left: 50%;
    // background-color: pink;
    transform: translateX(-50%);

    >.suit-button {
        width: 23%;
    }
}

.action-button-container {
    position: absolute;
    display: flex;
    justify-content: center;

    // background-color: pink;
    height: 6%;
    width: 55%;
    bottom: 3.5%;
    left: 50%;
    transform: translateX(-50%);

    .action-size {
        width: 30%;
        height: 100%;
        margin: 0 1% 0 1%;
    }
}

.control-button-container{
    position: absolute;
    display: flex;
    bottom: -40px;
    right: -35px;

    *{
        margin: 5px;
    }

    .snap_index {
        display: flex;
        width: 50px;
        background-color: #4CAF50;
        border: 2px solid black;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        justify-content: center;
        align-items: center;
      }    
}
