@use 'buttons';
@use 'cards';

:root {
    --box-size: 80;
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB;
}

.card {
    height: 100%;
    width: auto;
}

.game-board {
    position: relative;
    background-color: #008000;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 300px;
    min-width: 300px;

    /* Default for landscape */
    height: calc(var(--box-size) * 1vh);
    width: calc(var(--box-size) * 1vh);

    @media (orientation: portrait) {
        width: calc(var(--box-size) * 1vw);
        height: calc(var(--box-size) * 1vw);
    }
}

.player_icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    background-color: #008000;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);   
    white-space: nowrap;
    overflow: hidden;

    &[seat="0"]{
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 75%);        
    }
    &[seat="1"]{
        top: 50%;
        left: 0%;
        transform: translate(-62.5%, -50%) rotate(-90deg);
    }
    &[seat="2"]{
        left: 50%;
        top: 0%;
        transform: translate(-50%, -75%);
    }
    &[seat="3"]{
        top: 50%;
        right: 0%;
        transform: translate(62.5%, -50%)  rotate(90deg);
    }
}

.chat_bubble {
    position: absolute;
    width: 30%;
    height: 20%;
    z-index: 10;

    &[seat="0"] {
        bottom: 17%;
        left: 45%;
    }

    &[seat="1"] {
        top: 30%;
        left: 13%;
    }

    &[seat="2"] {
        top: -5%;
        left: 45%;
    }

    &[seat="3"] {
        top: 30%;
        right: -3%;
    }

    img {
        height: 100%;
        width: 100%;
    }

    div {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 25%;
        text-align: center;
        font-size: 2em;
    }
}

.played,
#upcard {
    position: absolute;
    height: 15%;
    aspect-ratio: 2.5 / 3.5;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    * {
        position: absolute;
    }

    &>.card:nth-child(1) {
        transform: translateY(60%);
    }

    &>.card:nth-child(2) {
        transform: translateX(-80%) rotate(90deg);
    }

    &>.card:nth-child(3) {
        transform: translateY(-60%);
    }

    &>.card:nth-child(4) {
        transform: translateX(80%) rotate(90deg);
    }
}

.hand {
    position: absolute;
    height: 15%;
    width: 30%;
    // background-color: pink;

    .cards {
        display: flex;
        width: 100%;
        height: 100%;
        // background-color: skyblue;
        justify-content: center;

        .card {
            transform: translateX(30%);
            margin-left: -20%;
        }

        &.enabled {
            .card:hover {
                transform: translate(26%, -10%);
                cursor: pointer;
            }
        }

        &:not(.enabled) {
            .card:hover {
                pointer-events: none;
            }
        }
    }

    .tricks {
        position: absolute;
        width: 0;
        top: 0;
        height: 100%;
        z-index: 100;
        right: -7.5%;

        .trick {
            position: absolute;
            height: 34%;
            top: 0;
            left: 0;

            &:nth-child(2) {
                transform: translateY(50%) rotate(90deg);
            }

            &:nth-child(3) {
                transform: translateY(100%);
            }

            &:nth-child(4) {
                transform: translateY(150%) rotate(90deg);
            }

            &:nth-child(5) {
                transform: translateY(200%);
            }
        }
    }
}

#hand_0 {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#hand_1 {
    top: 50%;
    left: 5%;
    transform: translateY(-50%) rotate(90deg);
}

#hand_2 {
    top: 5%;
    left: 50%;
    transform: translateX(-50%)rotate(180deg);
}

#hand_3 {
    top: 50%;
    right: 5%;
    transform: translateY(-50%) rotate(-90deg);
}

.score {
    position: absolute;
    height: 15%;
    aspect-ratio: 2.5 / 3.5;

    * {
        position: absolute;
    }

    &#score_0 {
        left: 5%;
        top: 5%;
    }

    &#score_1 {
        right: 10%;
        bottom: 10%;
    }

    &>.top {
        z-index: 3;
    }

    &>.bottom {
        z-index: 2;
    }

    &>.back {
        z-index: 4;
    }

    &[data-value='1'] {
        &>.back {
            transform: translate(22%, 17%) rotate(35deg);
        }
    }

    &[data-value='2'] {
        &>.back {
            transform: translate(0, 25%) rotate(90deg);
        }
    }

    &[data-value='3'] {
        &>.back {
            transform: translate(0, 50%) rotate(90deg);
        }
    }

    &[data-value='4'] {
        &>.back {
            transform: translate(43%, 45%) rotate(27deg);
        }
    }

    &[data-value='5'] {
        &>.back {
            z-index: 1;
        }
    }

    &[data-value='6'] {
        &>.back {
            z-index: 1;
        }

        &>.top {
            transform: translate(22%, 17%) rotate(35deg);
        }
    }

    &[data-value='7'] {
        &>.back {
            z-index: 1;
        }

        &>.top {
            transform: translate(0, 25%) rotate(90deg);
        }
    }

    &[data-value='8'] {
        &>.back {
            z-index: 1;
        }

        &>.top {
            transform: translate(0, 50%) rotate(90deg);
        }
    }

    &[data-value='9'] {
        &>.back {
            z-index: 1;
        }

        &>.top {
            transform: translate(42%, 45%) rotate(32deg);
        }
    }
}

#message{
    position: absolute;
    display: flex;
    align-items: center;    
    justify-content: center;    
    width: 30%;
    height: 5%;   
    background-color: #4CAF50;
    border-radius: 8px;
    pointer-events: none;

    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
}

.token{
    position: absolute;
    width: 4%;
    height: 4%;

    &[seat="0"]{
        left: 50%;
        transform: translateX(-50%);
        &#dealer_token{
            left: 45%;
            bottom: -10%;
        }
        &#maker_token{
            left: 55%;
            bottom: -10%;            
        }
    }
    &[seat="1"]{
        top: 50%;
        transform: translateY(-50%);
        &#dealer_token{
            top: 45%;
            left: -10%;
        }
        &#maker_token{
            top: 55%;
            left: -10%;            
        }        
    }
    &[seat="2"]{
        transform: translateX(-50%);
        &#dealer_token{
            left: 45%;
            top: -10%;
        }
        &#maker_token{
            left: 55%;
            top: -10%;            
        }
    }
    &[seat="3"]{
        top: 50%;
        transform: translateY(-50%);
        &#dealer_token{
            top: 45%;
            right: -10%;
        }
        &#maker_token{
            top: 55%;
            right: -10%;            
        }    
    }    
}

#suit_container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 4%;
    width: 20%;
    bottom: 27%;
    left: 50%;
    // background-color: pink;
    transform: translateX(-50%);

    >.suit_button {
        width: 23%;
    }
}

#action_container {
    position: absolute;
    display: flex;
    justify-content: center;

    // background-color: pink;
    height: 6%;
    width: 55%;
    bottom: 3.5%;
    left: 50%;
    transform: translateX(-50%);

    .action_button {
        width: 30%;
        height: 100%;
        margin: 0 1% 0 1%;
    }
}