@use './game';
@use './components';

alert-dialog, name-dialog{
    position: absolute;
    width: 50%;
    aspect-ratio: 5/3;
    z-index: 1000;
}

#host-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 95%;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-title{    
    font-family: "Britannic", sans-serif;
    font-weight: bolder;
    display: flex;
    color: var(--app-yellow);        
    font-size: 5rem;    
    -webkit-text-stroke: 3px black; 
    justify-content: center; 
}

.by-line{    
    font-family: "Britannic", sans-serif;
    font-weight: bolder;
    display: flex;
    color: var(--app-yellow);        
    font-size: 2rem;    
    -webkit-text-stroke: 1px black;  
    margin: 0 0 5% 0; 
    justify-content: center; 
}

.pending-player:empty::before {
    content: var(--hint, "bot"); 
    display: inline-block;
    color: darkgray;
}    

.label-inner.disconnected{
    color: red;
    background-color: lightgrey;
}

.name-container, .kick-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    gap: 10px;
    padding: 15px;
}

.name-container{
    width: 80%;
}

.kick-container{ 
    width: 10%;
}