@use './game';
@use './components';

#game-board-inner{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 10px; 
}

.game-title{    
    font-family: "Britannic", sans-serif;
    font-weight: bolder;
    display: flex;
    color: var(--app-yellow);        
    font-size: 5rem;    
    -webkit-text-stroke: 3px black; 
    justify-content: center; 
}

.by-line{    
    font-family: "Britannic", sans-serif;
    font-weight: bolder;
    display: flex;
    color: var(--app-yellow);        
    font-size: 2rem;    
    -webkit-text-stroke: 1px black;  
    margin: 0 0 5% 0; 
    justify-content: center; 
}

.pending-player:empty::before {
    content: var(--hint, "bot"); 
    display: inline-block;
    color: darkgray;
}    

.label-inner.disconnected{
    color: red;
    background-color: lightgrey;
}
