@use 'buttons';

.button_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);

    .styled_button{
        height: 50px;
        margin: 5px;
    }
}