@use './components';

.button-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.game-title{    
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    font-family: "Britannic", sans-serif;
    font-weight: bolder;
    color: var(--app-yellow);        
    font-size: 4rem;    
    -webkit-text-stroke: 0.025em black;    
}
