@use './components';

#game-title{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);    
}

#game-board{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#all-buttons{
    width: 80%;
}

#nav-buttons {
    flex: 1 1 auto;
}

#help-buttons {
    flex: 0 0 auto;
}