<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">

<html>

<head>
    <link rel="stylesheet" href="../static/css/game.css">
    <script src="../static/js/modules/socket.io.js"></script>
    <script type="module" src="../static/js/game.js"></script>
</head>

<body>
    <div  id="table" class="table">
        <div id="upcard" class="card" face="back"></div>

        <div class="chat_bubble hidden" seat="1" id="chat_bubble">
            <img src="../static/images/chat_bubble.png"/>
            <div>ALONE</div>
        </div>

        <div class="player_icon default_font" seat="0"></div>
        <div class="player_icon default_font" seat="1"></div>
        <div class="player_icon default_font" seat="2"></div>
        <div class="player_icon default_font" seat="3"></div>

        <!-- played cards -->
        <div id="played_0" class="card hidden" face="back"></div>
        <div id="played_1" class="card hidden" face="back"></div>
        <div id="played_2" class="card hidden" face="back"></div>
        <div id="played_3" class="card hidden" face="back"></div>

        <div id="tricks_0" class="tricks">
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
        </div>

        <div id="tricks_1" class="tricks">
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
        </div>

        <div id="tricks_2" class="tricks">
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
        </div>

        <div id="tricks_3" class="tricks">
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
            <img class="trick hidden" src="../static/images/cards/large/back.png" />
        </div>                

        <div id="suit_container" class="hidden">
            <button id="suit_♠" class="styled_button suit_button black">♠</button>
            <button id="suit_♥" class="styled_button suit_button red">♥</button>
            <button id="suit_♣" class="styled_button suit_button black">♣</button>
            <button id="suit_♦" class="styled_button suit_button red">♦</button>
        </div>

        <div id="action_container">
        </div>

        <div id="score_0" class="score" score="0">
            <div class="card top" face="back"></div>
            <div class="card bottom" face="5♦"></div>
        </div>
        
        <div id="score_1" class="score" score="0">
            <div class="card top" face="back"></div>
            <div class="card bottom" face="5♣"></div>
        </div>      
        
        <img id="dealer_token" class="token" seat="3" src="../static/images/dealer.png"/>
        <img id="maker_token" class="token" seat="3" src="../static/images/maker_♠.png"/>
        <div id="message" class="hidden default_font">Pick a Card</div>
    </div>
</body>

</html>