<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <link rel="stylesheet" href="../static/css/game.css">
    <script src="../static/js/modules/socket.io.js"></script>

    {% if view %}
    <script type="module" src="../static/js/game/view.js"></script>
    {% else %}
    <script type="module" src="../static/js/game/game.js"></script>
    {% endif %}

    <script src="../static/js/elements/Alert_Dialog.js" defer></script>
    <script src="../static/js/elements/Countdown_Button.js" defer></script>
</head>

<body>
    <div id="game-board" class="game-board" seat="{{seat}}" game-token="{{game_token}}">
        <div id="upcard" class="card" face="back"></div>

        <div id="chat-bubble" class="chat-bubble is-hidden" seat="1">
            <img src="../static/images/chat_bubble.png" />
            <div>ALONE</div>
        </div>

        <div class="player-icon" seat="0"></div>
        <div class="player-icon" seat="1"></div>
        <div class="player-icon" seat="2"></div>
        <div class="player-icon" seat="3"></div>

        <div id="tricks_0" class="tricks" seat="0" value="0">
            {% include 'elements/trick.html' %}
        </div>

        <div id="tricks_1" class="tricks" seat="1">
            {% include 'elements/trick.html' %}
        </div>

        <div id="tricks_2" class="tricks" seat="2">
            {% include 'elements/trick.html' %}
        </div>

        <div id="tricks_3" class="tricks" seat="3">
            {% include 'elements/trick.html' %}
        </div>

        <div id="suit-button-container" class="suit-button-container">
            <button class="ui-button suit-button black" data-suit="♠" data-event="change-suit" selectable>♠</button>
            <button class="ui-button suit-button red" data-suit="♥" data-event="change-suit" selectable>♥</button>
            <button class="ui-button suit-button black" data-suit="♣" data-event="change-suit" selectable>♣</button>
            <button class="ui-button suit-button red" data-suit="♦" data-event="change-suit" selectable>♦</button>
        </div>

        <div id="action-button-container" class="action-button-container">
            <countdown-button class="ui-button size_full font-normal is-hidden" timeout="5"
                data-event="continue">Continue</countdown-button>
            <button class="ui-button size_full font-normal is-hidden" data-event="pass">Pass</button>
            <button class="ui-button size_full font-normal is-hidden" data-event="order">Order</button>
            <button class="ui-button size_full font-normal is-hidden" data-event="make">Make</button>
            <button class="ui-button size_full font-normal is-hidden" data-event="alone">Alone</button>
        </div>

        <div id="score_0" class="score-cards" score="0">
            <div class="card top" face="back"></div>
            <div class="card bottom" face="5♦"></div>
        </div>

        <div id="score_1" class="score-cards" score="0">
            <div class="card top" face="back"></div>
            <div class="card bottom" face="5♣"></div>
        </div>

        <img id="dealer_token" class="token" seat="3" src="../static/images/dealer.png" />
        <div id="maker_token" class="token" seat="3"></div>
        <div id="message" class="is-hidden font-normal">Pick a Card</div>

        <!-- Snapshot queue control buttons -->
        <div class="control-button-container">
            <button id="prev_snap" class="ui-button suit-button black">Prev</button>
            <div id="snap_index" class="snap_index font-normal">0</div>
            <button id="next_snap" class="ui-button suit-button black">Next</button>
            <button id="run_queue" class="ui-button suit-button black">▶</button>
            <button id="pause_queue" class="ui-button suit-button black">⏸</button>
        </div>

        <div class="menu-button-container">
            <button id="rules_button" class="ui-button menu-button font-normal">Rules</button>
            <button id="exit_button" class="ui-button menu-button font-normal">Exit</button>
        </div>

        <div id="scoreboard" class="ui-container scoreboard">
            <div class="scoreboard-inner">
                <div class="team-box ui-container">
                    <div class="score font-normal">10</div>
                    <div class="names font-normal">Adam & Eve</div>
                </div>
                <div class="team-box ui-container">
                    <div class="score font-normal">10</div>
                    <div class="names font-normal">Adam & Eve</div>
                </div>
            </div>
            <button class="ui-button size_narrow font-normal" data-event="exit">Exit</button>
        </div>
    </div> <!-- /gameboard -->
</body>

</html>