<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <script src="../static/js/modules/socket.io.js"></script>
    <link rel="stylesheet" href="../static/css/host.css">
    <script type="module" src="../static/js/host/host.js"></script>
    <script src="../static/js/elements/Styled_Text_Box.js" defer></script>
    <script src="../static/js/elements/Alert_Dialog.js" defer></script>
    <script src="../static/js/elements/Name_Dialog.js" defer></script>
</head>

<body>
    <alert-dialog class="hidden"></alert-dialog>
    <name-dialog class="hidden"></name-dialog>

    <div id="game-board" class="game-board" game-token="{{game_token}}" seat="{{seat}}">
        <div id="host-menu">

            <div class="component-collection">
                <div class="game-title">Euchre</div>
                <div class="by-line">Staging Game</div>
            </div>

            <div class="ui-container horz default font-normal">
                <!-- name text boxes -->
                {% include 'elements/name_container.html' %}
                <!-- kick buttons -->
                <div id="kick-container" class="kick-container">
                    <div seat="0" class="ui-button size_round red invisible">X</div>    
                    <div seat="1" class="ui-button size_round red">X</div>
                    <div seat="2" class="ui-button size_round red">X</div>
                    <div seat="3" class="ui-button size_round red">X</div>
                </div>                
            </div>

            <div class="component-collection">
                <button id="start_button" class="ui-button size_full font-normal" tabindex="0">Start</button>
                <button id="name_button" class="ui-button size_small font-small">Set Name</button>
                <button id="copy_button" class="ui-button size_small font-small">Copy Invite Code</button>
                <button id="cancel_button" class="ui-button size_small font-small">Cancel</button>
            </div>
        </div>
    </div>
</body>

</html>