<!-- host.html -->
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <script src="../static/js/modules/socket.io.js"></script>
    <link rel="stylesheet" href="../static/css/host.css">
    <script type="module" src="../static/js/host/host.js"></script>
    <script src="../static/js/elements/Styled_Text_Box.js" defer></script>
    <script src="../static/js/elements/Alert_Dialog.js" defer></script>
    <script src="../static/js/elements/Name_Dialog.js" defer></script>
</head>

<body>
    <alert-dialog class="is_hidden"></alert-dialog>
    <name-dialog class="is_hidden"></name-dialog>

    <div id="game-board" class="game-board" game-token="{{game_token}}" seat="{{seat}}">
        <div class="ui-collection col">
            <div class="game-title">Euchre</div>
            <div class="by-line">Staging Game</div>
        </div>

        <div class="ui-panel row font_normal">
            <!-- name text boxes -->
            {% include 'elements/name_container.html' %}
            <!-- kick buttons -->
            <div id="kick-container" class="kick-container ui-collection col">
                <div seat="0" class="ui-button size_full shape_round red is-invisible">X</div>
                <div seat="1" class="ui-button size_full shape_round red">X</div>
                <div seat="2" class="ui-button size_full shape_round red">X</div>
                <div seat="3" class="ui-button size_full shape_round red">X</div>
            </div>
        </div>

        <div class="ui-collection col">
            <div id="start_button" class="ui-button size_full" tabindex="0">Start</div>
            <div id="name_button" class="ui-button size_small">Set Name</div>
            <div id="copy_button" class="ui-button size_small">Copy Invite Code</div>
            <div id="cancel_button" class="ui-button size_small">Cancel</div>
        </div> 
    </div> <!-- /game-board -->
</body>

</html>