<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">

<html>

<head>
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="module" src="../static/js/index.js"></script>
</head>

<body>
    <div class="game-board" id="table">
        <div id="button_container" class="button_container">
            <button id="login_button" class="styled_button default_font">Login</button>        
        </div>
    </div>
</body>

</html>