<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/hand.js"></script>
</head>
<body>
    <div class="game-board" id="table">
        <div class="played" id="played">
            <img class="card" src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
        </div>            
        <div class="hand" id="hand_3">
            <img class="card" src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
        </div>            
        <div class="hand" id="hand_2">
            <img class="card" src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
        </div>        
        <div class="hand" id="hand_1">
            <img class="card" src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
        </div>            
        <div class="hand" id="hand_0">
            <img class="card" src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
            <img class="card"  src="../static/images/cards/large/back.png"/>
        </div>

        <div id="button_container">
            <button id="b1" class="styled-button">Alone</button>
            <button id="b2" class="styled-button">Pass</button>
            <button id="b3" class="styled-button">Order</button>
        </div>
    </div>

    <!-- <button id="euchreButton" class="styled-button">Play Euchre</button> -->
</body>
</html>