<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <script src="../static/js/modules/socket.io.js"></script>
    <link rel="stylesheet" href="../static/css/host.css">
    <script type="module" src="../static/js/join/join.js"></script>
    <script src="../static/js/elements/Styled_Text_Box.js" defer></script>
</head>

<body>
    {% include 'name_dialog.html' %}
    <div id="game-board" class="game-board" game-token="{{ game_token }}">
        <div id="game-board-inner">
            <div class="game-title">Euchre</div>
            <div class="by-line">Staging Game</div>
            <div class="textbox-outer default normal-font">
                <div id="player_0_name" class="label-inner pending-player"></div>
                <div id="player_1_name" class="label-inner pending-player"></div>
                <div id="player_2_name" class="label-inner pending-player"></div>
                <div id="player_3_name" class="label-inner pending-player"></div>
            </div>
            <button id="name_button" class="button small-size small-font">Set Name</button>
            <button id="cancel_button" class="button small-size small-font">Cancel</button>
        </div>
    </div>
</body>

</html>