<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="stylesheet" href="../static/css/landing.css">
    <script type="module" src="../static/js/landing.js"></script>
</head>

<body>
    <div id="game-board" class="game-board">
        <div id="button-container" class="button-container">
            <button id="private-button" class="button normal-size normal-font">Private Game</button>
            <button id="quick-button" class="button normal-size normal-font">Quick Start Solo</button>
            <button id="logout-button" class="button normal-size normal-font">Logout</button>
        </div>
    </div>
</body>
</html>