<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <link rel="stylesheet" href="../static/css/lobby.css">
    <script type="module" src="../static/js/lobby/lobby.js"></script>
    <script src="../static/js/elements/Info_Button.js" defer></script>
    <script src="../static/js/elements/Alert_Dialog.js" defer></script>
</head>

<body>
    <alert-dialog class="is-hidden"></alert-dialog>
    <div id="game-board" class="game-board">
        <div class="game-title">Euchre</div>
        <div id="button-container" class="button-container">
            <button id="private-button" class="ui-button size_full font-normal">
                Private Game
                <info-button class="info-button"></info-button>
                <div class="info-text font-normal">Create a multi-player game with invite codes.</div>         
            </button>
            <button id="quick-button" class="ui-button size_full font-normal">
                Quick Start Solo
                <info-button class="info-button"></info-button>                
                <div class="info-text font-normal">Start an all bot game.</div>                             
            </button>
            {% if logged_in %}
                <button id="logout-button" class="ui-button size_full font-normal">Logout</button>
            {% endif %}
        </div>
    </div>
</body>
</html>