<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;">
<html>

<head>
    <link rel="stylesheet" href="../static/css/lobby.css">
    <script type="module" src="../static/js/lobby/lobby.js"></script>
    <script src="../static/js/elements/Info_Button.js" defer></script>
    <script src="../static/js/elements/Alert_Dialog.js" defer></script>
</head>

<body>
    <alert-dialog class="is_hidden"></alert-dialog>
    <div id="game-board" class="game-board">
        <div id="game-title" class="game-title">Euchre</div>

        <div id="all-buttons" class="ui-collection row">
            <div id="nav-buttons" class="ui-collection col">
                <div id="private-button" class="ui-button size_full">Private Game</div>
                <div id="quick-button" class="ui-button size_full">Quick Start Solo</div>
            </div>
            <div id="help-buttons" class="ui-collection col">
                <info-button id="private-help" class="ui-button size_full shape_round red">
                    <div class="ui-info-text font_normal is_hidden">Create a multi-player game with invite codes.</div>                    
                </info-button>
                <info-button id="quick-help" class="ui-button size_full shape_round red">
                    <div class="ui-info-text font_normal is_hidden">Start an all bot game.</div>                                                 
                </info-button>
            </div>                                 
        </div>
    </div>
</body>
</html>